<div class="containter">
	<h1 class="page-header">Angular blog!</h1>
      <p class="lead">
      Angular is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. The JavaScript components complement Apache Cordova, a framework used for developing cross-platform mobile apps. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications. 
      </p>
     
    
     <h4 style="margin-left: 20px">1.Installing Angular CLI using node</h4>
      <kbd style="margin-left: 6%">npm install -g @angular/cli</kbd>

</div>
